@font-face {
  font-family: "iconfont"; /* Project id 3205176 */
  src: url('iconfont.woff2?t=1650627577441') format('woff2'),
       url('iconfont.woff?t=1650627577441') format('woff'),
       url('iconfont.ttf?t=1650627577441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-houtaiguanli-xitongguanliyuan:before {
  content: "\e6dc";
}

.icon-xiajiantou:before {
  content: "\eb6e";
}

.icon-dui:before {
  content: "\e63c";
}

.icon-cuowu:before {
  content: "\e67a";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-icon1:before {
  content: "\e651";
}

.icon-24gl-calendar:before {
  content: "\eb3f";
}

.icon-icon:before {
  content: "\e652";
}

.icon-gongzuojingli:before {
  content: "\e61c";
}

.icon-qiuzhiyixiang:before {
  content: "\e623";
}

.icon-ziwopingjia:before {
  content: "\e626";
}

.icon-jiaoyubeijing:before {
  content: "\e637";
}

.icon-xiangmujingyan:before {
  content: "\e63a";
}

.icon-3column:before {
  content: "\e663";
}

.icon-bussiness-man:before {
  content: "\e6ef";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-browse:before {
  content: "\e745";
}

.icon-category:before {
  content: "\e747";
}

.icon-conditions:before {
  content: "\e748";
}

.icon-double-arrow-left:before {
  content: "\e74c";
}

.icon-good:before {
  content: "\e753";
}

.icon-namecard:before {
  content: "\e759";
}

.icon-Notvisible:before {
  content: "\e75a";
}

.icon-resonserate:before {
  content: "\e75e";
}

.icon-return:before {
  content: "\e75f";
}

.icon-rising:before {
  content: "\e761";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-share:before {
  content: "\e764";
}

.icon-suggest:before {
  content: "\e767";
}

.icon-bussiness-man-fill:before {
  content: "\e779";
}

.icon-form-fill:before {
  content: "\e77f";
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-anquanyinsi:before {
  content: "\e98c";
}

.icon-lianjie:before {
  content: "\e992";
}

.icon-user:before {
  content: "\e99e";
}

